.simple-reading-time-format-wrap {
    margin-bottom: 5px;
}

.simple-reading-time-format-wrap label {
    display: inline-block;
    width: 75px;
}

.simple-reading-time-submit-buttons-wrap {
    margin-top: 25px;
}

.simple-reading-time-submit-buttons-wrap .button:nth-child(1) {
    min-width: 200px;
    margin-right: 12px;
}

.simple-reading-time-submit-buttons-wrap .button:nth-child(2) {
    min-width: 200px;
    border: 1px solid #cc1818;
    color: #cc1818;
}

.simple-reading-time-submit-buttons-wrap .button:nth-child(2):hover {
    color: #9e1313;
}